html, body {
	overflow-x: hidden;
}
body {
	font-family: "Roboto Slab", Times, Georgia, serif;
	color: #282828;
} 
h1, h2, h3, h4, h5, h6 {
	font-family: "Cabin", Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.one-half, .one-third, .one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}
@media (min-width: 320px) {
	.one-half {
		width: 46%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width: 46%;
	}
	.one-third {
		width: 29.33333%;
	}
	.one-fourth {
		width: 21%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media tv {
	.hero {
		color: red;
	}
}

/* HEADER */
header {
	color: #FFFFFF;
	background: #389074;
	background-image: linear-gradient(-182deg, rgba(179,211,202,1.00) 1%, rgba(179,211,202,1.00) 7%, rgba(39,154,117,1.00) 47%, #16634B 100%);
}
header nav {
	padding: 1em 0;
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
}
header nav ul > li.btn-outline {
	padding: 10px 15px;
	border: 2px solid #16634B;
	border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
	background: #16634B;
}
header nav ul > li > a {
	font-family: "Cabin", Helvetica, Arial, sans-serif;;
	font-weight: bold;
	font-size: 16px;
	color: #16634B;
	text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
	color: #FFFFFF;
}
header nav ul > li > a:hover {
	color: #FFFFFF
}
header .hero {
	text-align: center;
	display: block;
	position: relative;
}
header .hero h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 95px 0 0;
}
header .hero p {
	font-size: 22px;
	line-height: 29px;
	font-weight: 400;
	margin: 10px 0 40px;
}
header .hero img {
	display: block;
	margin: 3em auto 0;
	width: 100%;
}

/* BUTTON */
.btn {
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Cabin", Helvetica, Arial, sans-serif;;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 30px;
	background: #D47D68;
	border: 2px solid #D47D68;
	box-shadow: 0px 2px 0px 0px #7C3625;
}

/* BENEFITS*/
.benefits {
	text-align: center;
	display: block;
	position: relative;
}
.benefits ul {
	margin: 0 auto;
	padding: 4em 0 2em ;
}
.benefits ul li {
	list-style-type: none;
	display: inline-block;
}
.benefits i {
	font-size: 65px;
	color: #389074;
	margin: 0;
	vertical-align: middle;
}
.benefits h2 {
	font-size: 30px;
	color: #389074;
}

/* Pricing */
.pricing {
	background: url("../images/background.png") top center no-repeat;
	background: url("../images/background.png") top center no-repeat, linear-gradient(-168deg, rgba(21,99,74,1.00) 0%, #389074 100%);
	background-size: cover;
	text-align: center;
	padding: 3em 0 2em;
}
.pricing h2 {
 	color: #FFFFFF;
}
.pricing p {
 	line-height: 24px;
	color: #FFFFFF;
}
.pricing ul {
	margin: 0 auto;
	padding-top: 2em;
}
.pricing ul li {
 	list-style-type: none;
}
.box {
 	padding:0 15px 15px;
 	background: #FFFFFF;
 	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	min-height: 439px;
	position: relative;
	margin-top: 25px;
 }
.box.middle {
 	min-height: 485px;
 	margin-top: 0;
}
.box h3 {
 	font-family: "Cabin", Helvetica, Arial, sans-serif;
 	font-weight: bold;
 	text-transform: uppercase;
	background: #D9DBDA;
 	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
    left: 0;
 	right: 0;
 	top: 0;
	text-align: center;
	margin: 0 -15px 40px;
 	padding: 10px 0;
}
.box h4 {
	font-size: 52px;
	font-weight: bold;
	margin: 40px 0 10px;
	color: #389074;
}
.box h4 span {
	font-size: 32px;
	vertical-align: top;
}
.box h4 span.month {
	font-size: 24px;
	color: #888888;
	vertical-align: middle;
}
.box ul li {
	font-family: "Cabin", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}
.box .btn {
 	position: absolute;
 	bottom: 20px;
	left: 20px;
	right: 20px;
}
.small {
	font-size: 15px;
 	color: #FEFEFE;
	line-height: 17px;
	font-style: italic;
	margin-top: 0;
}

/* TESTOMONIALS*/
.testimonials {
 	padding: 2em 0 1em;
 	text-align: center;
}
.testimonials h2 {
 	color: #389074;
}
.testimonials ul li {
 	list-style-type: none;
}
.testimonials blockquote {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #FFFFFF;
	text-align: left;
 	background: #16634b;
 	position: relative;
	padding: 20px;
 	width: auto;
 	margin: 20px 0 0 0;
}
.testimonials blockquote:after {
 	top: 100%;
	left: 13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #16634b;
	border-width: 10px;
	margin-left: -10px;
}
.testimonials img {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	float: left;
	display: inline-block;
	margin: 20px 10px 0 0;
}
.testimonials p.name {
	float: left;
	display: inline-block;
	text-align: left;
	font-size: 14px;
	margin-top: 30px;
}
.move {
	margin-top: 20px;
}

/* CTA */
.cta {
	color: #389074;
	background: #d7d7d7;
	text-align: center;
	padding: 0.5em 0 4em;
}
.cta h1 {
	font-size: 40px;
	font-weight: 400;	
}
.cta p {
	font-size: 22px;
	line-height: 29px;
	font-weight: 300;
	margin: 10px 0 50px;
}

/* FOOTER */
footer {
	background-color: #16634B;
	background-image: linear-gradient(to top,
		#B4D4CA 0%, #B4D4CA 50%, #16634B 50%, #16634B 100%);
	color: #FFFFFF;
	height: 200px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
footer p, footer nav ul {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin: 10px auto 0;
}
footer nav ul li {
	list-style-type: none;
	display: inline;
}
footer nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
footer .right-footer-block {
	background-color: transparent;
}
footer .logo { 
	padding: 1em 0;
	margin: 0 auto;
	display: block;
}

@media (min-width: 992px) {
	footer {
		background-color: #B4D4CA;
		background-image: linear-gradient(to left,
			#B4D4CA 0%, #B4D4CA 33.33337%, #16634B 33.33337%, #16634B 100%);
		height: 100px;
	}
	footer p, footer nav ul {
		padding: 2em 0;
		text-align: center;
	}
	footer .right-footer-block {
		background-color: #B4D4CA;
	}
	footer .logo {
		padding: 1em 0;
	}
}
@media (min-width: 320px) {
	footer .logo {
		padding: auto 0;
	}
}

/* DASHBOARD */
.dashboard {
	background: #F7F7F7;
}
.left-nav {
	height: 100%;
	width: 280px;
	color: #FFFFFF;
	background: #389074;
	background-image: linear-gradient(-108deg, #0A6748 0%, #389074 100%);
	float: left;
	position: fixed;
	position: absolute;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: translate(-280px,0);
    	-webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    	-o-transform: translate(-280px,0); /** Opera **/
    	-moz-transform: translate(-280px,0); /** Firefox **/
 }
.left-nav.open {
	display: block;
	width: 280px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: translate(0,0);
    	-webkit-transform: translate(0,0); /** Chrome & Safari **/
    	-o-transform: translate(0,0); /** Opera **/
    	-moz-transform: translate(0,0); /** Firefox **/
    	z-index: 100;
}
.hamburger {
	position: absolute;
	z-index: 1000;
	background: #BCD8CF;
	color: #16634B;
	text-decoration: none;
	font-size: 22px;
	padding: 10px 15px;
	border-radius: 4px;
	left: 5px;
	top: 15px;
}

@media (min-width:992px) {
	.left-nav {
		height: 100vh;
		width: 14.66666667%;
		color: #FFFFFF;
		background: #389074;
		background-image: linear-gradient(-108deg, #0A6748 0%, #389074 100%);
		float: left;
		position: fixed;
		display: block;
		transform: translate(0,0);
    		-webkit-transform: translate(0,0); /** Chrome & Safari **/
    		-o-transform: translate(0,0); /** Opera **/
    		-moz-transform: translate(0,0); /** Firefox **/
	}
	.left-nav.open {
    	width:14.66666667%;
     	transform: translate(0,0);
    		-webkit-transform: translate(0,0); /** Chrome & Safari **/
    		-o-transform: translate(0,0); /** Opera **/
    	-moz-transform: translate(0,0); /** Firefox **/
   	}
	.hamburger {
    	display:none;
   	}
}

.left-nav .site-logo {
	padding: 10px 0;
	background: #BCD8CF;
	display: block;
	text-align: center;
}
.left-nav .items {
	padding: 0 6%;
}
.left-nav .items p {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 19px;
	margin-bottom: 1em;
}
.left-nav .items ul {
	margin-bottom: 40px;
	padding: 0;
	list-style-type: none;
}
.left-nav .items ul li {
	margin: 0 0 10px 25px;

}
.left-nav .items ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
}
.left-nav .items ul li a i {
	width: 16px;
	text-align: center;
	margin-right: 8px;
}
.left-nav .items a:hover {
	font-weight: 700;
}
.left-nav .items .active {
	font-weight: 700;
	background: #FFFFFF;
	color: #16634B;
	padding: 0 5px;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
	position: absolute;
	background: #16634B;
	width: 100%;
	bottom: 0;
 	left: 0;
	right: 0;
	padding: 10px 0;
}
.left-nav .settings img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-left: 10px;
	display: inline-block;
}
.left-nav .settings p {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
	font-size: 11px;
	font-weight: 400;
	margin:0 0 0 10px;
}
.left-nav .settings a {
	color: #FFFFFF;
	text-decoration: none;
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
}

/* CONTENT */
.content {
	padding: 6em 1% 1.5em;
	float: right;
	width: 98%;
	position: relative;
}
.content .header {
	margin: 0 1% 20px;
}
.content .header h1 {
	font-family: "Cabin", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 0 0 30px;
	font-size: 40px;
	color: #16634B;
	line-height: 49px;
	float: left;
	display: inline-block;
}
.content .header > a {
	float: right;
}
.content-item {
	width: 96%;
	margin: 0 2% 25px;
	float: left;
	display: block;
}
.item-box {
	display: block;
	height: 230px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
	position: relative;
	overflow: hidden;
	padding: 20px;
}

/* Larger Mobile Devices */
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 90%;
		position: relative;
	}
	.content-item {
		width: 46%;
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}
/* Tablets */
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		float: right;
		width: 90%;
		position: relative;
   	}
   	.content > .container {
		width: 700px;
   	}
	.content-item {
		width: 31.33333%;
		margin: 0 1% 25px;
	}
}
/* Laptops and Desktops */
@media (min-width: 992px) {
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 83.33333333%;
		position: relative;
	}
	.content > .container {
		width: auto;
	}
	.content-item {
		width: 23%;
		margin: 0 1% 25px;
	}
}

.item-box > img {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
}
.item-box > a {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
}
.item-box > a > img {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
}
.item-box h2 {
	font-family: "Roboto Slab", Times, Georgia, serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	margin:0;
}
.item-box h2 a {
	color: #389074;
	text-decoration: none;
}
.item-box h2 img {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.item-box p {
	font-size: 12px;
	font-weight: 300;
	color: #282828;
	line-height: 16px;
	margin: 5px 0 0;
}